[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
torch = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
hypothesis = "*"
black = "*"
flake8 = "*"
mypy = "*"
types-cryptography = "*"
networkx = "*"
memory-profiler = "*"
cryptography = "*"
gputil = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
